

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.portada {
    background-image: url(../img/Portada_Soluciones_Synapse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}